body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: blue;
}

.red-title{
  background-color: black;
  color: red;
  padding: 5px;
  border: 5px solid red;
}

.title {
  background-color: black;
  color: white;
}