div{
    background-color: aqua;
    border-radius: 10px;
}
form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input, textarea, select{
    display: block;
    margin-top: 10px;
    padding: 5px;
}