html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        180deg, 
        rgba(5, 146, 24, 0.575), 
        rgba(0, 0, 0, 1));
    color: whitesmoke;
}

button {
    background-color: rgba(57, 156, 27, 0.671);
    color: antiquewhite;
    padding: 0 45px;
    border: 2px antiquewhite;
    border-radius: 25px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .4s;
}

button:hover{
    background-color: rgba(43, 255, 0, 0.418);
}